* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 20px;
    width: 80px;
}

.overlaybox {
    /* top: 100%; */
    /* padding-top: 20px; */
    background-color: white;
    border: 1px solid green;
    border-radius: 20px;
    position: relative;
    width: 80px;
    height: 30px;
}
.overlaybox:hover {
    background-color: green;
    color: white;
}
.overlaybox::after {
    position: absolute;

    content: "";
    /* top: 100%;
    left: 50%;
    transform: translateX(-50%); */
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 5px solid green;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.animation {
    border: none;
    border-radius: 10px;
    width: 30px;
    font-size: 12px;
    background-color: green;
    color: white;
    height: 24px;
    position: absolute;
    bottom: 30px;
    /* top: 100px; */
    /* right: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-bottom: 5px; */
    /* visibility: hidden; */
    opacity: 0;
    /* transform: translateY(-30%); */
    transition: all 0.2s;
}

.animation {
    width: 30px;
}

.overlaybox:hover ~ .animation {
    /* transform: translateY(-100%); */
    bottom: 35px;
    opacity: 1;

    visibility: visible;
}

/* .container:hover .animation:not(:hover) {
  
} */

.mapWrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
}
.mapsize {
    position: absolute;
    width: 75%;
    left: 25%;
}

.asdasdas {
    background-color: green;
}
.asdasdas:hover + .qqq {
    background-color: red;
}
.boxtitle {
    color: green;
}
.markerbox {
    display: flex;
}
.infoboxWrapper {
    display: flex;
    flex-direction: row;
}
.arrow {
    position: absolute;
    /* background-color: red; */
    left: 0px;
    top: 0;
    z-index: 100;
    /* width: 10px; */
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 40px solid black;

    border-right: 40px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.aa {
    left: 25%;
}

.info {
    opacity: 0;
    background-color: white;
    height: 100vh;
    /* width: 400px; */
    width: 25%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
.dong {
    opacity: 1;
}

.buttonWrapper {
    position: absolute;
    top: 100px;
    right: 60px;
    z-index: 130;
}
.buttonWrapper button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: gray;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonWrapper button:hover {
    transform: translateY(-10%);
    background-color: greenyellow;
}

.levelWrapper {
    background-color: gray;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 180px;
    right: 60px;
    z-index: 100;
    width: 100px;
    height: 50px;
}
.levelWrapper button {
    font-size: 25px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.levelWrapper button:first-child {
    border-right: 1px solid black;
    /* border-color: white; */
}
